.container {
	margin-top: 1rem;
}
.btnContainer {
	display: flex;
	column-gap: 1rem;
	width: 100%;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.gridCont {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}
.gridWrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	width: fit-content;
	gap: 0;
}
.gridItem {
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid gray;
}
.gridItem:hover {
	transform: scale(1.2);
	background-color: gray;
}

.startNode {
	background-color: green !important;
	border: 1px solid yellow;
}
.endNode {
	background-color: red !important;
}
