.container {
	margin-top: 1rem;
}
.btnContainer {
	display: flex;
	column-gap: 1rem;
	width: 100%;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.gridCont {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}
.gridWrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	width: fit-content;
	gap: 2px;
}
.gridItem {
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid gray;
}
.gridItem:hover {
	transform: scale(1.2);
	background-color: gray !important;
}

.startNode {
	background-color: green !important;
}
.endNode {
	background-color: red !important;
}
.gridItemSorting {
	height: 0.5rem;
	width: 0.5rem;
	border: 1px solid gray;
}
.gridWrapperSorting {
	display: grid;
	grid-template-columns: repeat(60, 1fr);
	grid-template-rows: repeat(60, 1fr);
	width: fit-content;
	column-gap: 2px;
}

@media (max-width: 768px) {
	.gridWrapper {
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(20, 1fr);
	}
	.btn {
		min-width: 4rem !important;
		padding: 0.2rem !important;
	}
	.gridWrapperSorting {
		grid-template-columns: repeat(40, 1fr);
		grid-template-rows: repeat(50, 1fr);
	}
}
