.container {
	width: 100%;
	height: 7vh;
	background-color: #85a389;
}
.header {
	width: 80%;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	font-weight: 700;
	margin: auto;
}
