@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
.App {
	width: 80%;
	margin: auto;
}

@media (max-width: 768px) {
	.App {
		width: 95%;
	}
}
